.title {
  font-size: 0.75em;
}

.progressBg {
  width: 100%;
  background-color: var(--progress-bg);
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 5px;

  .progressFill {
    height: 5px;
    border-radius: 5px;
    transition: 'width 0.3s ease';
  }
}
