//Colors
$body-color: #ffeead;
$text-color: #0f1412;
$main-color: #96ceb4;
$button-color: #ffcc5c;
$card-color: #b5dcca;
$hover-card-color: #88d8b0;
$gray-color: #333;
$light-gray-color: #adadad;
$error-bg: #ce96b0;
