//Colors
:root {
  --body-color: #e3c8f1;
  --text-color: #5b485b;
  --main-color: #8844bb;
  --main-color-hover: #5f2f82;
  --button-color: #8844bb;
  --button-hover-color: #5f2f82;
  --secondary-color: #bb44b3;
  --secondary-color-hover: #822f7d;
  --link-color: #8844bb;
  --link-color-hover: #bb44b3;
  --gray-color: #333;
  --gray-light-color: #575a59;
  --border-gray-color: #adadad;
  --error-bg: #f1d9e4;
  --error-text: #bb4478;
}

//Sizes
$height-header: 92px;
