@import '../../styles/variables';

.movieCard {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  background-color: $card-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;

  .movieImage {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: $hover-card-color;
  }
}

@media (max-width: 768px) {
  .movieCard {
    width: calc(50% - 20px);
  }
}
