@import '../../styles/variables';
@import '../../styles/mixins';

.flyout {
  position: fixed;
  bottom: 1rem;
  background-color: $body-color;
  text-align: center;
  padding: 1rem;
  border: 3px solid $button-color;
  border-radius: 6px;
  box-shadow: 0 0 10px $button-color;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

  &.hidden {
    transform: translateY(100%);
  }

  &.visible {
    transform: translateY(0);
  }

  .info {
    padding-bottom: 1rem;
  }

  .secondary-btn {
    text-decoration: none;
    color: inherit;
  }
}
