@import '../../styles/variables';
@import '../../styles/mixins';

.searchSection {
  background-color: var(--main-color);
  background-image: url('./top-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 1.5rem;

  .searchSection-title {
    color: var(--main-color-title);
  }
}

.searchRow {
  display: flex;
  justify-content: center;
}

.search {
  margin-right: 2rem;
  border-radius: 4px;
}

.errorBtn {
  @include button-styles(var(--error-bg), var(--error-bg-dark));
  margin-left: 1rem;
}
