@import '../../styles/variables';
@import '../../styles/mixins';

.searchSection {
  background-color: var(--main-color);
  padding-bottom: 1.5rem;
}

.searchRow {
  display: flex;
  justify-content: center;
}

.search {
  margin-right: 2rem;
  border-radius: 4px;
}

.errorBtn {
  @include button-styles(var(--error-bg), var(--error-bg-dark));
  margin-left: 1rem;
}
